.cursor-pointer{
    cursor: pointer;
}
.flex{
    display: flex;
    justify-content: space-between;
}

.correct{
    color: green;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
}
.wrong{
    color: red;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
}
